p {
     color: blue;
}

.container-btn {
     display: flex !important;
     justify-content: space-evenly;
}

/*
space-evenly: items are distributed so that the spacing between any two items (and the space to the edges) is equal.
*/